<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <distributable/>
    <listener>
        <listener-class>org.projectodd.wunderboss.wildfly.ServletListener</listener-class>
    </listener>

    <!-- Static Assets :: All visitors -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>assets</web-resource-name>
            <url-pattern>/assets/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <security-constraint>
        <auth-constraint>
            <role-name>access</role-name>
        </auth-constraint>
        <web-resource-collection>
            <web-resource-name>dashboard</web-resource-name>
            <url-pattern>/dashboard</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <security-constraint>
        <auth-constraint>
            <role-name>access</role-name>
        </auth-constraint>
        <web-resource-collection>
            <web-resource-name>view</web-resource-name>
            <url-pattern>/view/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <auth-constraint>
            <role-name>access</role-name>
        </auth-constraint>
        <web-resource-collection>
            <web-resource-name>report</web-resource-name>
            <url-pattern>/report/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <!-- Keycloak conf -->
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>SCOOP</realm-name>
    </login-config>

</web-app>
